{% extends 'base.html' %}

{% block title %}Details{% endblock %}

{% block content %}
{% csrf_token %}
<h1>{{ recipe.title }}</h1>
<p><strong>Ingredients:</strong></p>
<ul>
    {% for recipe_ingredient in recipe.recipe_ingredients.all %}
        <li>
            {{ recipe_ingredient.quantity }} {{ recipe_ingredient.ingredient.unit }} of {{ recipe_ingredient.ingredient.name }}
        </li>
    {% empty %}
        <li>No ingredients found.</li>
    {% endfor %}
</ul>

<p>{{ recipe.instructions }}</p>

{% if user == recipe.author %}
    <a href="{% url 'edit_recipe' recipe.pk %}" class="btn">Edit Recipe</a>
{% endif %}

<form method="post" action="add_comment/">
    {% csrf_token %}
    <textarea name="content" placeholder="Add a comment"></textarea>
    <button type="submit">Post Comment</button>
</form>

<ul>
    {% for comment in recipe.comments.all %}
        <li>{{ comment.user.username }}: {{ comment.content }}</li>
    {% endfor %}
</ul>

{% endblock %}
